@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #acb6e5;

    --background: 244 33.800000000000004% 6.32%;
    --foreground: 244 5.2% 98.95%;

    --muted: 244 26% 23.700000000000003%;
    --muted-foreground: 244 5.2% 57.9%;

    --popover: 244 54.6% 10.27%;
    --popover-foreground: 244 5.2% 98.95%;

    --card: 244 54.6% 10.27%;
    --card-foreground: 244 5.2% 98.95%;

    --border: 244 26% 23.700000000000003%;
    --input: 244 26% 23.700000000000003%;

    --primary: 244 52% 79%;
    --primary-foreground: 244 5.2% 7.9%;

    --secondary: 244 26% 23.700000000000003%;
    --secondary-foreground: 244 5.2% 98.95%;

    --accent: 244 26% 23.700000000000003%;
    --accent-foreground: 244 5.2% 98.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 244 5.2% 98.95%;

    --ring: 244 52% 79%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
